<h1>Recipes</h1>
<div class="container">
  <div class="row display-flex">
  <% @recipes.each do |recipe| %>
    <div class="col-sm-4">
      <div class="panel panel-default">
        <div class="thumbnail recipes">
          <%= image_tag recipe.image %>
        </div>
        <h4><%= recipe.title %></h4>
        <div class="caption">
          <p>You will need <%= recipe.ingredients.missing_ingredients %> more ingredients to make this dish.</p>
          <%= link_to "Show me the recipe", recipe_path(recipe.id), :class => 'btn btn-default' %><br><br>
        </div>
      </div>
    </div>
  <% end %>
  </div>
</div>
