<h1><%= "#{@user.name}'s Friends" %></h1>
<div class="container">
  <% if @user.friends.empty? %>
  <div class="well">
    <p><%= @user.name %> has no friends</p>
  </div>
  <% else %>
  <% @user.friends.each do |friend| %>
    <div class="col-sm-4">
      <div class="panel panel-default">
        <div class="friend">
          <div class="thumbnail">
            <%= image_tag friend.image %>
          </div>
          <%= link_to friend.username, user_path(friend.username), style:"font-size: 24px;" %>
        </div>
      </div>
    </div>
    <% end %>
  <% end %>
</div>
