<h1><%= "#{@user.name}'s Friends" %></h1>

<div class="container">
  <div class="well">
    <% if @user.friends.empty? %>
    <p><%= @user.name %> has no friends</p>
    <% else %>
    <% @user.friends.each do |friend| %>
    <%= link_to friend.username, user_path(friend.username) %>
    <% end %>
    <% end %>
  </div>
</div>
