<h2><%= "#{@user.name}'s Friends" %></h2>

<% if @user.friends.empty? %>
  <p><%= @user.name %> has no friends</p>
<% else %>
  <% @user.friends.each do |friend| %>
    <%= link_to friend.email, user_path(friend) %>
  <% end %>
<% end %>

