<div class="container">
  <div class="row">
  <% @recipes.each do |recipe| %>
  <div class="col-md-4">
    <div class="thumbnail">
      <%= image_tag recipe.image %>
      <h4><%= link_to recipe.title, recipe_path(recipe.id) %></h4>
      <div class="caption">
      <p>You're missing <%= recipe.ingredients.missing_ingredients %> Ingredients.</p>
      </div>
    </div>
  </div>
  <% end %>
  </div>
</div>
