<% @recipes.each do |recipe| %>
  <div class="recipes">
    <%= link_to recipe_path(recipe.id) do %>
      <%= recipe.title %><br>
      <%= image_tag recipe.image %><br>
    <% end %>
    You're missing <%= recipe.ingredients.missing_ingredients %> Ingredients.<br><br>
  </div>
<% end %>
