---
http_interactions:
- request:
    method: get
    uri: https://api.spoonacular.com/recipes/complexSearch?addRecipeInformation=true&apiKey=<SPOONACULAR_KEY>&diet=vegetarian&fillIngredients=true&ignorePantry=true&includeIngredients=apples,%20cinnamon&maxReadyTime=15&minCalories=0&minCarbs=0&minCholesterol=0&minFat=0&minProtein=0&minSodium=0&minSugar=0&number=10&sort=random&type=dessert
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Allow-Control-Allow-Origin:
      - "*"
      Allow-Control-Allow-Methods:
      - GET, HEAD, POST, OPTIONS, DELETE, PUT
      X-Api-Quota-Request:
      - '2.18'
      X-Api-Quota-Used:
      - '46.44'
    body:
      encoding: ASCII-8BIT
      string: '{"results":[{"vegetarian":true,"vegan":false,"glutenFree":true,"dairyFree":false,"veryHealthy":false,"cheap":false,"veryPopular":false,"sustainable":false,"weightWatcherSmartPoints":4,"gaps":"no","lowFodmap":false,"preparationMinutes":5,"cookingMinutes":0,"aggregateLikes":1,"spoonacularScore":39.0,"healthScore":6.0,"creditsText":"Oatmeal
        With a Fork","sourceName":"Oatmeal With a Fork","pricePerServing":136.69,"extendedIngredients":[{"id":1116,"aisle":"Milk,
        Eggs, Other Dairy","image":"plain-yogurt.jpg","consistency":"solid","name":"yogurt","original":"3-4
        Tbsp good plain yogurt of your liking","originalString":"3-4 Tbsp good plain
        yogurt of your liking","originalName":"good plain yogurt of your liking","amount":3.0,"unit":"Tbsp","meta":["plain","good"],"metaInformation":["plain","good"],"measures":{"us":{"amount":3.0,"unitShort":"Tbsps","unitLong":"Tbsps"},"metric":{"amount":3.0,"unitShort":"Tbsps","unitLong":"Tbsps"}}},{"id":1077,"aisle":"Milk,
        Eggs, Other Dairy","image":"milk.png","consistency":"liquid","name":"milk","original":"1/4
        cup milk","originalString":"1/4 cup milk","originalName":"milk","amount":0.25,"unit":"cup","meta":[],"metaInformation":[],"measures":{"us":{"amount":0.25,"unitShort":"cups","unitLong":"cups"},"metric":{"amount":59.147,"unitShort":"ml","unitLong":"milliliters"}}},{"id":9003,"aisle":"Produce","image":"apple.jpg"[...]
