/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */
 // Custom bootstrap variables must be set or imported *before* bootstrap.
 @import "bootstrap";

 #main-page {
  min-height: 100vh; /* will cover the 100% of viewport */
  overflow: hidden;
  display: block;
  position: relative;
  padding-bottom: 100px; /* height of your footer */
 }

.footer {
  color: rgb(140, 140, 140);
  margin-top: 70px;
  background-size: cover;
  background-color: rgb(35, 35, 35);
  font-size: 18px;
  padding: 14px;
  width: 100%;
  position: absolute;
  bottom: 0;
}

 .jumbotron {
 background-image: url("https://raw.githubusercontent.com/mikez321/order_of_the_phoenix_part_2/master/app/assets/images/fresh_veg.jpg");
 background-size: cover;
 color: white;
 margin-top: 0px;
 margin-bottom: 0px;
 font-size: 60px
}

.panel-default {
  border: none;
  box-shadow: 0px 4px 40px rgba(0, 0, 0, 45);
}

.thumbnail {
  border: none
}
.nav {
  font-size: 18px;
}

.header-opacity {
  background-color: rgba(0, 0, 0, 0.3);
  background-size: cover;
}

.row.display-flex {
  display: flex;
  flex-wrap: wrap;
}

.row.display-flex > [class*='col-'] {
  display: flex;
  flex-direction: column;
}

.bg-ambiance {
  background-image: url("https://github.com/mikez321/file_store/blob/master/dark_bg_food.png?raw=true");
  background-color: #cccccc;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  position: relative;
}

.btn {
  background-color: rgb(35, 35, 35);
  color: rgb(140, 140, 140);
  border-color: black;
  border-radius: 5px;
  font-size: 18px;
}

.text-field {
  padding: 6px 8px 8px 8px;
  border-radius: 6px;
  background-color: white;
  color: rgb(140, 140, 140);
}

.panel {
  background-color: rgb(35, 35, 35);
  color: rgb(140, 140, 140);
}

.thumbnail {
  background-color: rgb(140, 140, 140);
}

.lead {
  background-color: rgba(0, 0, 0, 0.5);
  padding: 10px
}

h1 {
  color: white;
  font-family: american typewriter;
}

h2 {
  font-family: american typewriter;
}

h3 {
  font-family: american typewriter;
  text-decoration: underline;
  font-size: 36px;
}

p {
  font-size: 16px;
}

.white-info {
  font-size: 18px;
  color: white;
}

.login-link {
  color: rgb(72, 133, 237);
  text-decoration: underline;
  font-size: 36px;
  padding: 20px
}

.well {
  background-color: rgba(229, 250, 212, 0.5);
  color: black;
  border:none;
  box-shadow: 0px 4px 40px rgba(0, 0, 0, 45);
}
