<div class="container-fluid" >

<style>
  .jumbotron {
  background-image: url("https://res.cloudinary.com/sanitarium/image/fetch/q_auto/https://www.sanitarium.com.au/getmedia%2Fae51f174-984f-4a70-ad3d-3f6b517b6da1%2Ffruits-vegetables-healthy-fats.jpg%3Fwidth%3D1180%26height%3D524%26ext%3D.jpg");
  background-size: cover;
  color: white;
}
</style>
<div class="jumbotron">
</div>
